.block{
    background-image: url(./img/Снимок\ экрана\ 2026-01-28\ 180618.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav img {
    border-radius: 50%;
    width: 70px;
}
nav{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    border: 2px solid ;
}
a:hover{
    color: lawngreen;
    font-size: 24px;
}
.box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;   
  max-width: 1000px;
  margin: 0 auto;
}
.inbox{
  width: 200px;
  text-align: center;        
  color: cyan;
}

.inbox img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;        
  display: block;
  margin: 0 auto 10px;
}

.inbox h2{
  text-align: center;
  font-size: 18px;
}
.img1{
    display: flex;
    width: 1100px; 
    justify-content: space-between;
    margin-top: 60px;
}

.img2{
    width: 100%;
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly;
}

.boks{
    width: 1000px;
    display: flex;
    justify-content: space-around;
}
.gif{
    display: flex;
    color: white;
}
.gift img{
    border-radius: 50%;
}
body{
    background-color: black;
}
.header-text{
    color: white;
}
.inbog{
    width: 100px;
    text-align: center;
}